VITE_SUPABASE_URL=https://fqwdzxaprsefutccdqns.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_seh5sW-Yt3mlaq8u2_dwLA_iu1A3ibO
NEXT_PUBLIC_SUPABASE_URL=https://fqwdzxaprsefutccdqns.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_seh5sW-Yt3mlaq8u2_dwLA_iu1A3ibO
